body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.head {
 text-align: center;
 color:rgb(37, 0, 107);
 font-family: 'Trebuchet MS';
 font-weight: bolder;
 background-color: rgb(255, 241, 51);
 padding: 10px;
}

.content, .home{
  margin: 40px;
}

.tab{
  border: 1px solid rgb(8, 0, 128);
  margin: 30px 30px;
}

.nav {
  background-color: rgb(68, 0, 62);
  padding: 10px;
}

.nav-items{
  display: inline;
  list-style: none;
  margin: 10px;
}

.nav-items a {
  color: rgba(253, 229, 251, 0.89);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

body {
  background-color: rgba(253, 229, 251, 0.89);
}

.select-opt{
  background-color: rgb(68, 0, 62);
  color: rgba(253, 229, 251, 0.89);
  padding: 10px;
  margin: 15px;
  font-size: 20px;
  border-radius: 50px;
  outline: none;
}

h1, p {
  color: rgb(68, 0, 62);
  margin: 10px;
}

img {
  margin: 10px;
}

.btn {
  background-color: rgb(68, 0, 62);
  color: rgba(253, 229, 251, 0.89);
  padding: 10px;
  border: 2px solid rgb(68, 0, 62);
  border-radius: 50px;
  outline: none;
  margin: 10px;
  font-size: 16px;
}